.banner {
  background: url("assets/aquatope.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}

.carousel-content {
  background-color: #222;
  height: 550px;
  color: #fff;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #dc3545;
}

.circle i {
  position: relative;
  top: 35px;
}
.crop-img {
  object-fit: cover;
}

a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #222;
  line-height: 40px;
}

.contact {
  background-color: #222;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}

.cr-content {
  background-color: #222;
  color: #fff;
}
